.container {
  flex: 1;
  background-image: url('/public/resources/images/homeBg.png');
}

/* .title {
  color: #FFF;
  text-align: center;
  font-family: Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title {
  display: block;
  color: #D434FE;
} */

@media (min-width: 768px){
  .container {
    background: transparent;
  }
}