.container {
  flex: 1;
}

/* .title {
  color: #FFF;
  text-align: center;
  font-family: Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title {
  display: block;
  color: #D434FE;
} */

