.getintouch{
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.getintouchCont{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: space-between; */
}

h4{
    font-family: Clash Display;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #D434FE;
}

.getintouchCont > div{
    display: flex;
    flex-direction: column;
}

div > span{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}



span{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #D434FE;
    
}

div > img{
    width: 129px;
    height: 24px;
}

@media screen and (max-width: 540px){
    .getintouch{
        display: none;
    }
}