* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Bold;
  src: url("../public/resources/fonts/Bold.otf") format("opentype");
}

@font-face {
  font-family: SemiBold;
  src: url("../public/resources/fonts/SemiBold.otf") format("opentype");
}

@font-face {
  font-family: Medium;
  src: url('../public/resources/fonts/Medium.otf') format('opentype');
}

@font-face {
  font-family: Regular;
  src: url("../public/resources/fonts/Regular.otf") format("opentype");
}

@font-face {
  font-family: Light;
  src: url('../public/resources/fonts/Light.otf') format('opentype');
}

@font-face {
  font-family: ExtraLight;
  src: url('../public/resources/fonts/ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: MBold;
  src: url('../public/resources/fonts/MBold.ttf') format('truetype');
}

@font-face {
  font-family: MRegular;
  src: url('../public/resources/fonts/MRegular.ttf') format('truetype');
}

@font-face {
  font-family: Unica;
  src: url('../public/resources/fonts/Unica.ttf') format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
