.container {

}

.title {
    color: #FFF;
    font-family: Bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px;
}

.desc {
    color: #FFF;
    text-align: center;
    font-family: MRegular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.5px; 
    margin-top: 15px;
}

.container > div:last-child {
    margin: 30px 0;
}