.container {
    border-bottom: 1px solid #ffffff2e;
}

.title {
    color: #FFF;
    font-family: Bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px;
}

.desc {
    color: #FFF;
    text-align: center;
    font-family: MRegular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.5px; 
    margin-top: 15px;
}

.imgWrapper {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.imgWrapper img:last-child {
    display: none;
}



@media (min-width: 768px) {
    .container {
        padding: 50px 70px;
    }
    .title {
        font-size: 32px;
    }

    .desc {
        width: 50%;
        font-size: 14px;
        margin: 30px 0 50px 0 ;
    }

    .imgWrapper img:first-child {
        display: none;
    }

    .imgWrapper img:last-child {
        display: block
    }
}